header.header
    .overlay-header
    a.logo(href='index.html')
        img(src="./img/logo-footer.svg", alt="")
    .for-mobile        
        ul.menu
            .center-nemu
                li.menu-item-has-children.dropup.active
                    a(href="#") Нічне бачення
                    ul.sub-menu
                        li
                            a(href='#') Нічне бачення
                        li.active    
                            a(href='#') Нічне бачення
                        li    
                            a(href='#') Нічне бачення
                        li    
                            a(href='#') Нічне бачення
                li.menu-item-has-children.dropup
                    a(href="#") Тепловізійне бачення             
                    ul.sub-menu
                        li
                            a(href='#') Тепловізійне бачення
                        li
                            a(href='#') Тепловізійне бачення
                        li
                            a(href='#') Тепловізійне бачення
                        li
                            a(href='#') Тепловізійне бачення
                li.menu-item-has-children.dropup
                    a(href='#') Fusion
                    ul.sub-menu
                        li
                            a(href='#')  Fusion
                        li
                            a(href='#')  Fusion
                        li
                            a(href='#')  Fusion
                        li
                            a(href='#')  Fusion
                li
                    a(href='') Аксесуари
        ul.menu 
            li.menu-item-has-children.dropup
                a(href="#") Про нас                
                ul.sub-menu
                    li
                        a(href='#') Про нас
                    li
                        a(href='#') Про нас

            li
                a(href='#') Контакти
            
        .close-button 
            svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewbox='0 0 22 22' fill='none')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M10.9995 13.0031L19.0136 21.0171C19.2808 21.2752 19.6387 21.418 20.0101 21.4148C20.3816 21.4115 20.7369 21.2625 20.9995 20.9999C21.2622 20.7372 21.4112 20.3819 21.4144 20.0105C21.4176 19.639 21.2749 19.2812 21.0168 19.014L13.0027 10.9999L21.0168 2.9858C21.2749 2.71862 21.4176 2.36076 21.4144 1.98932C21.4112 1.61787 21.2622 1.26255 20.9995 0.999893C20.7369 0.737232 20.3816 0.588242 20.0101 0.585014C19.6387 0.581787 19.2808 0.724579 19.0136 0.982636L10.9995 8.99672L2.98546 0.982636C2.71707 0.730958 2.3613 0.59357 1.99341 0.599544C1.62553 0.605518 1.2744 0.754385 1.01433 1.01464C0.754251 1.2749 0.605632 1.62614 0.599919 1.99402C0.594205 2.36191 0.731845 2.71759 0.983712 2.9858L8.99638 10.9999L0.982296 19.014C0.84699 19.1447 0.739065 19.301 0.664819 19.4738C0.590573 19.6467 0.551493 19.8326 0.549858 20.0207C0.548224 20.2088 0.584067 20.3953 0.655299 20.5694C0.72653 20.7435 0.831722 20.9017 0.964736 21.0347C1.09775 21.1677 1.25592 21.2729 1.43003 21.3441C1.60413 21.4154 1.79068 21.4512 1.97878 21.4496C2.16688 21.4479 2.35278 21.4089 2.52562 21.3346C2.69846 21.2604 2.85478 21.1524 2.98546 21.0171L10.9995 13.0031Z' fill='white')
    .div-for-menu      
        .menu-button  
            svg(xmlns='http://www.w3.org/2000/svg' width='26' height='20' viewbox='0 0 26 20' fill='none')
                path(d='M1.66699 1.5H24.3337M1.66699 10H24.3337M1.66699 18.5H24.3337' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
