@use "color.scss" as c;

$font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic',
  'Meiryo', sans-serif;


*{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 150%; /* 67.5px */
  font-style: normal;
}

.big-text{
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: inherit;
}

h1, .h1{
  color: #FFF;
  font-size: 60px;
  font-weight: 700;
  line-height: 140%; /* 84px */
  text-transform: uppercase;
  letter-spacing: inherit;
}

h2, .h2{
  color:  c.$primary-color;
  font-size: 40px;
  font-weight: 600;
  line-height: 116%; /* 46.4px */
  letter-spacing: inherit;
  margin-bottom: 35px;
}


// one header 
.heading{
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 39px */
  text-transform: uppercase;
}

.heading-thin{
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 39px */
  text-transform: uppercase;
}

//subheader
h3, .h3 , .h3_subname {
  color:  c.$primary-color;
  font-size: 20px;
  font-weight: 700;
  line-height: 160%; /* 32px */
  letter-spacing: inherit;
}

p, .p{
  font-variant-numeric: stacked-fractions;
  font-feature-settings: 'hlig' on, 'dlig' on;
  font-size: 16px;
  font-weight: 500;
  line-height: 158.278%;
  letter-spacing: 0.16px;
  // margin-bottom: 25px;;
}

.normal_text-gray{
  color: c.$sub-primary;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: inherit;
  line-height: 161%;;
}

.normal_text{
  color: c.$primary-color;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: inherit;
  line-height: 161%;;
}

.normal_text-heading{
  color: c.$sub-primary;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: inherit;
  line-height: 161%;;
}

.accent{
  color: c.$accent-color
}

.small_text{
  color: c.$primary-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  &__bold{
    font-weight: 600;
    font-size: 14px;;
  }
}

.UPPER{
  text-transform: uppercase;

}


@media screen and(max-width: 1300px){
  .big-text {
    font-size: 41px;
    line-height: 135%;
  }
}

@media screen and(max-width: 1300px){
  .big-text {
    font-size: 20px;
  }
}


@media screen and (max-width: 960px){
  .h1, h1 {
    font-size: 45px;
  }

}



@media screen and (max-width: 760px){
  .normal_text, .normal_text-gray {
    font-size: 16px;
    line-height: 161%;
  }
  h2, .h2{
    font-size: 32px;
  }
  .h1, h1 {
    font-size: 34px;
    text-align: center;
  }

}

@media screen and (max-width: 360px){
  .h2, h2 {
    font-size: 29px;
  }
  .h1, h1 {
    font-size: 27px;
  }
}