@use '../helpers' as h;


.main-screen {
    // background-image: url(../img/illustration/main.png) ;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    // height: 1000px;
    background-size: 100% auto;
}

#scene {
    position: relative;
    margin: 0;
    height: 100%;
    background: url('./../img/illustration/black.png');
    background-size: 100% auto;
    z-index: 2;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.hide {
    display: none;
}
#cross{
    cursor: none;
}

#cross.showed{
    height: 85px;
    width: 85px;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    z-index: 3;
    cursor: none;
    background-image: url('./../img/illustration/cross2.png');
}

#circle{
    position: relative;
    width: 100%;
    margin: 0;
    mask-image: url('./../img/illustration/cross.png');
    mask-repeat: no-repeat;
    mask-size: 250px;
    cursor: none;
    // cursor: url('./../img/illustration/cross2.png'), pointer;
    background-size: cover;
}

.choose-buttons {
    position: absolute;
    left: auto;
    top: 30%;
    z-index: 9999;
    padding-left: 60px;
    padding-right: 60px;
}

.choose{
    width: 100px;
    color: #F5F5F5;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.wrap-choose{
    display: flex;
    align-items: center;
    margin-bottom: 42px;
    cursor: pointer;
    &:hover{
        .img{
            border: 4px solid #b8f9b8b0;
            border-radius: 100%;
        }
        .choose{
            color: #b8f9b8
        }
    }
    .img{
        width: 84px;
        height: 84px;
        margin-right: 35px;
        overflow: hidden;
        border: 3px solid transparent;
        border-radius: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &:hover{

    }
}


.l-main {
    padding-top: 180px;
    .big-text{
        margin-bottom: 100px;
        letter-spacing: inherit;
    }
}

.main-page-block{
    display: flex;
    position: relative;
    margin-bottom: 80px;
    .image-part {
        width: 40%;

    }
    .text-part{
        width: 60%;
        height: 400px;
        padding-left: 105px;
        position: relative;
        .rotate{
            position: absolute;
            left: 87px;
            top: 28px;
            writing-mode: vertical-rl;  
            transform:rotate(180deg);     
        }
        .normal_text-gray{
            padding-left: 69px;
            padding-top: 48px;
            max-width: 513px;
        }
    }
    .down-block{
        position: absolute;
        left: 40%;
        bottom: 85px;
        padding-left: 105px;
        &__text{
            font-family: Montserrat;
            font-size: 27px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 40.5px */
            text-transform: uppercase;
            letter-spacing: inherit;
        }
    }
}


.popular{
    padding-top: 92px;
    margin-bottom: 80px;
    .h2{
        margin-bottom: 12px;;
    }
    .h3{
        text-transform: uppercase;
    }
    .h3.h3_subname {
        text-transform: none;
        margin-bottom: 25px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.partners{
    margin-bottom: 100px;;
    .h2{
      margin-bottom: 50px;
    }
}
  
.partners-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.partner-item {
    width: 19%; /* Розмір для 5 items в ряду */
    padding: 20px 15px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0px 10px 10px 0px;;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 117px;
    img{
        opacity: 0.8;
        transition: all ease 0.3s;
    }
    &:hover{
        img{
            opacity: 1;
        }
    }

}

.partner-item img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
  

.form-group {
    margin-bottom: 20px;
    label, input{
        color:  h.$primary-color;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    label{
        margin-bottom: 10px;;
    }
    input, textarea{
        padding: 20px 16px 16px 16px;
        border: 1px solid rgba(82, 82, 82, 0.30);
        border-radius: 0px;;
    }
  }
  
  input::placeholder,
  textarea::placeholder{
    color: #D1D1D1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label, input, textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
//   input:invalid,
//   textarea:invalid {
//     border-color: red;
//   }
  
  .error-message {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .close-popup {
    float: right;
    cursor: pointer;
  }
  
  #success-popup.active {
    display: flex;
  }
  .invalid {
    border-color: red;
  }

.consulting{
    display: flex;
    align-items: center;
    .part-text {
        width: 50%;
    }
    .form-part{
        width: 50%;
    }
    h2{
        // max-width: 250px;
        span{
            display: block;
        }
    }
}


.last-news{
    padding-top: 80px;
    margin-bottom: 270px;
}

.gallery-wrap{
    padding-top: 160px;;
}

.slick-list{
    padding-bottom:40px;

}
.slick-initialized .slick-slide{
    padding: 20px;
}
.gallery-block .slick-initialized .slick-slide{
        padding: 0px;
}

.gallery-block .slick-list {
    padding-bottom: 0px;

}

.popular .slick-list{
    padding: 22px;
}
.goods-info .next-btn.swiper-button-disabled,
.goods-info .prev-btn.swiper-button-disabled{
    opacity: 0.3;
}

@media screen and(max-width: 1600px){
    .menu a {
        font-size: 13px;
    }
}

@media screen and (max-width: 1300px){
    .main-page-block .down-block{
        bottom: 0px;
    }
    .slick-current.slick-center{
        width: 900px!important;
        margin: 17px 31px 20px 59px;
    }
    .slick-dots{
        width: 100%;
        padding: 0px 20px;
    }
    .new-slider .slide {
        height: 511px;
    }
    .news-block .new-header {
        font-size: 42px; 
    }
    .news-block {
        bottom: 28px;
        left: 25px;
    }
    .nav-block{
        top: 558px;
        right: 19px;
    }
    .news-block .part-left {
        max-width: 58%;
    }
    .news-block .part-right {
        padding-bottom: 41px;
        padding-left: 69px;
    }
    .full-screen-block .h2, .full-screen-block h2 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px){
    .main-page-block .text-part .normal_text-gray{
        padding-top: 0px;
    }
    .main-page-block .text-part .rotate{
        top: 0px;
    }
    .partner-item{
        width: 30%;
        height: 80px;
    }
    .partners-block {
        justify-content: space-around;
    }
}


@media screen and (max-width: 1030px){
    .l-main {
        padding-top: 100px;
    }
    .main-page-block .down-block__text {
        font-size: 25px;
        line-height: 140%;
    }
    .main-page-block .down-block{
        left: 36%
    }
    .main-page-block .text-part .rotate {
        left: 47px;
    }
    .main-page-block .text-part .normal_text-gray{
        padding-left: 12px;
    }

}

@media screen and (max-width: 970px){
    .slick-next{
        right: 0px;
    }
    .full-screen-block{
        margin-bottom: 50px;;
    }
    .full-screen-block:before{
        background: transparent;
        display: none;
    }
    .gallery-block{
        margin-bottom: 40px;
    }
    .last-news{
        margin-top: 30px;;
    }

    .l-main .big-text{
        margin-bottom: 34px;
    }
    .main-page-block{
        flex-direction: column;
        margin-bottom: 40px;;
        .image-part{
            order: 2;
            width: 450px;
            margin: 0 auto 50px;
            display: block;
        }
        .text-part{
            order: 1;
        }
        .down-block{
            order: 3;
        }
    }
    .main-page-block .text-part {
        height: auto;
    }
    .main-page-block .text-part .normal_text-gray.rotate{
        position: relative;
        top:0;
        left: 0px;
        transform: rotate(0deg);
        writing-mode: inherit;
        padding-left: 0px;
        margin-bottom: 23px;

    }
    .main-page-block .text-part{
        width: 100%;
        padding-left: 0px;
        margin-bottom: 50px;;
    }
    .main-page-block .text-part .normal_text-gray {
        max-width: initial;
        padding-left: 20px;
    }
    .main-page-block .down-block{
        position: relative;
        top: 0px;
        left: 0px;
        padding-left: 0px;
    }
    .l-main {
        padding-top: 80px;
    }

    .popular{
        padding-top: 32px;
    }

}

@media screen and (max-width: 1200px){
    .left-gallery{
      width: 61%;
    }
    #circle, #scene {
        margin: 0;
        width: auto;
        height: 774px;
        object-fit: cover;
        background-size: cover;
    }
    #scene {
        height: 774px;
    }
  }
  
  
  @media screen and (max-width: 1100px){
    .left-gallery {
      width: 59%;
    }
  }
  
  @media screen and (max-width: 980px){
    .gallery-block{
      flex-direction: column;
    }
    .left-gallery{
      width: 100%;
      margin-bottom: 45px;;
    }
    .right-gallery{
      width: 100%;
      .video{
        margin-bottom: 45px;;
  
      }
    }
    .video-wrap iframe {
      height: 400px;
      width: 100%;
    }
    .choose-buttons {
        left: 60px;
        position: absolute;
        top: auto;
        bottom: 19px;
        z-index: 9999;
        display: flex;
        text-align: center;
        justify-content: space-between;
        width: 100%;
        left: 0px;

    }

    .wrap-choose{
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: space-between;
    }
    .choose{
        max-width: 85px;

        font-size: 12px;;
        font-weight: 400;
    }
    .wrap-choose .img {
        height: 56px;
        width: 56px;
        margin-bottom: 10px;
        margin: 0 auto 10px;
    }
  
  }

@media screen and (max-width: 768px){
    .l-main .big-text{
        line-height: 148%;
        padding-left: 10px;
    }
    .main-page-block .image-part{
        width: 100%;
        margin-bottom: 45px;
    }
    .main-page-block .text-part{
        padding-left: 10px;
      }
      .main-page-block .text-part .normal_text-gray{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; 
        padding-left: 23px;
      }  
      .main-page-block .text-part .normal_text-gray.rotate{
        margin-bottom: 21px;
        font-size: 14px;
      }
      .main-page-block .down-block__text{
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 27px */
        padding-left: 10px;
      }
      .news-block .new-name{
        font-size: 18px;
      }
      .news-block .new-header {
        font-size: 25px;
        line-height: 105%; /* 26.25px */
        margin-bottom: 26px;
        width: 209px;
        max-width: 71%;
        display: block;
    }
    .news-block .new-subscribtion{
        font-size: 16px;
        font-weight: 300;
        max-width: 98%;
    }
    .part-right{
        display: none;
    }
    .news-block .part-left{
        max-width: 100%;
    }
    .new-slider .slide {
        height: 532px;
    }
    .full-screen-block .h2, .full-screen-block h2 {
        margin-bottom: 7px;
    }
    .news-block {
        bottom: 90px;
        left: 27px;
    }
    .partner-item {
        width: 43%;
    }
    .consulting{
        flex-direction: column;
    }
    .consulting .form-part, .consulting .part-text{
        width: 100%;
    }
    .consulting .part-text{
        margin-bottom: 50px;;
    }
    form{
        max-width: 100%;
    }
    .video-wrap iframe {
        height: 400px;
        width: 100%;
    }
    #circle, #scene {
        height: 100vh;
    }



}