@use '../helpers' as h;

.video-gallery-block{
    padding: 100px 0px 230px;    
    .heading{
        font-weight: 500;
        text-transform: none;
        margin-bottom: 45px;
    }
    .main-video {
        height: 481px;
        margin-bottom: 90px;;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}


.video-links{
    .item{
        width: 385px;
        margin-right: 0px;
        margin-bottom: 65px;;
    }
    .item:not(:nth-child(3n)){
        margin-right: 2.5%
    }
    .wrap-img {
        overflow: hidden;
        height: 275px;
        margin-bottom: 10px;
        position: relative;
        &:after{
            content: "";
            width: 70px;
            height: 70px;
            display: block;
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 999;
            transform: translateX(-50%) translateY(-50%);
            background-image: url('../img/icons/ion_play-circle.svg');
        }
        img{
            transition: all ease 0.3s;
            width: 100%;
            height: 100%;
            object-fit: cover;;
        }
        &:hover{
            img{
                transform: scale(1.1);
            }
        }

    }
    a.h3{
        font-weight: 500;
        transition: all ease 0.3s;
        &:hover{
            // text-decoration: underline;
            color: h.$accent-color;
        }

    }
}


.group-catalog-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .button-white{
      width:54px;
      height:54px;
      padding: 0;
      margin-left: 10px;
      border: 1px solid #E6E6E6;
      &.active, &:hover{
        //   color: #fff;
        //   background-color: #000;
          border: 1px solid #181717;   
          &::placeholder{
              color: #fff;
          }
      }
    }
    .button-empty{
        border: 1px solid #181717;       
        padding: 20px 50px;;
        &:hover{
            color: #fff;
            background-color: #000;
        }
  }
  .button-empty, .button-white{
      text-align: center; 
      display: flex;
      justify-content: center; 
      color: #181717;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      align-items: center;
      justify-content: center;
      transition: all ease 0.3s;
      
      &.disable{
          background-color: #ccc;
          cursor: not-allowed;
          &.active{
            &:before{
             display:none;
            }
          }
          &:hover{
            &:before{
              display: none;;
            }
          }
        }
  }
  .group-pages{
    display: flex;
    justify-content: space-between;
    .button:not(:last-child){
        margin-right: 10px; 
    }    
  }


@media screen and (max-width: 1253px){
    .video-links .item:not(:nth-child(3n)){
        margin-right: 0px;
    }
    .video-links .item:not(:nth-child(2n)){
        margin-right: 4%;
    }
    .video-links .item{
        width: 48%;
    }
}


@media screen and (max-width: 930px){
    .video-links .item {
        width: 46%;
    }
    .video-links .item:not(:nth-child(2n)){
        margin-right: 8%;
    }
}

@media screen and (max-width: 768px){
    .group-catalog-buttons{
        flex-direction: column;
        .button-empty{
            margin-bottom: 30px;;
        }
    }
    .video-links a.h3 {
        font-size: 25px;
        line-height: 136%;
        margin-bottom: 18px;
    }
    .video-gallery-block {
        padding: 62px 0 80px;
    }
    .video-gallery-block .heading{
        font-size: 24px;
        margin-bottom: 22px;
    }
    .item {
        display: flex;
        flex-direction: column;
        .wrap-img{
            order: 2;
        }
        .h3{
            order: 1;
        }
    }
    .video-gallery-block .main-video {
        height: 274px;
        margin-bottom: 51px;
    } 
    .video-links .item {
        margin-bottom: 41px;
        width: 100%;
    }
    .video-links .item:not(:nth-child(2n)){
        margin-right: auto;
    }

    .group-catalog-buttons .button-empty {
        margin-bottom: 49px;
        width: 100%;
        margin-bottom: 48px;
    }
    .button-empty, .button-white{
        font-size: 16px;
    }
}