extends ./helpers/layout/_layout

block value
  - const path = ".";
  - const article  = true;

block header
  include components/header/_header

block main
  include components/pages/_article

block footer
  include components/footer/_footer