extends ./helpers/layout/_layout

block value
  - const path = ".";
  - const contacts = true;

block header
  include components/header/_header

block main
  include components/pages/_contacts

block footer
  include components/footer/_footer