.tiny-header.slim(style="background-image: url('./img/illustration/illustration2.png')")
    .overlay
    .container
        ul.breadcrumb
            a(href="https://zaslavskayasya.github.io/m-tech/dist/index.html") Головна
            a(href="https://zaslavskayasya.github.io/m-tech/dist/category.html") Каталог
            span Про нас
        h1.h1  
            | Про нас
.about 
    .container 
        p.big-text провідна компанія в галузі виробництва та продажу приладів нічного та тепловізійного бачення
        .additional-info 
            .line 
            .wrap
                p.normal_text-gray Заснована у 2016 році і з тих пір забезпечує високоякісною продукцією професіоналів та аматорів у силових та цивільних сферах
                p.normal_text-gray Відкрийте для себе потужність наших приборів:
        .power
            .item 
                .circle 01
                p.power-heading Прибори нічного бачення
                p.normal_text-gray Поєднують передові технології посилення зображення та максимальну функціональність, забезпечуючи найкращу ситуативну поінформованість
            .item 
                .circle 02
                p.power-heading Прибори тепловізійного бачення
                p.normal_text-gray Знімайте чіткі та деталізовані теплові зображення, які надають важливу інформацію та покращують вашу обізнаність про ситуацію.
            .item 
                .circle 03
                p.power-heading Fusion
                p.normal_text-gray Пристрої поєднують у собі переваги тепловізору та підсилення за слабкого освітлення, забезпечуючи неперевершену чіткість.
            .item 
                .circle 04
                p.power-heading Аксесуари
                p.normal_text-gray Досягніть стабільності та точності за допомогою нашого асортименту систем кріплення, розроблених для приладів нічного бачення.

.grey-bg 
    .container
        .characteristick-line 
            .item 
                .number 12K
                p.normal_tex-grayt  Проданих товарів
            .item 
                .number 15+
                p.normal_text-gray  Років досвіду
            .item 
                .number 50+
                p.normal_text-gray  Постійних клієнтів
            .item 
                .number 100+
                p.normal_text-gray  Різних товарів
        .illustration 
            img(src="./img/illustration/helmet.png", alt="")  
        .two-parts 
            .left-part 
                h2.h2 Ми прагнемо задоволення потреб наших клієнтів
            .right-part
                p.normal_text-gray Наша компанія готова надати підтримку та консультації з усіх питань, пов'язаних із нашою продукцією.
.review-block 
    .container 
        .two-parts 
            .left-part 
                h2.h2 Відгуки наших покупців
            .right-part
                p.normal_text-gray Ми готові допомогти вам реалізувати ваші завдання та досягти успіху в будь-якій галузі, де використовується оптика.
        .rev-slider-wrap
            .nav-block
                .custom-prev-button.custom-nav
                    img(src="./img/icons/arr-left.svg", alt="")
                .custom-next-button.custom-nav 
                    img(src="./img/icons/arr-righ.svg", alt="") 
            .rewiew-slider 
                .slide
                    .inner-slide
                        .review-line 
                            .star-place 
                                img(src="./img/icons/stars.svg", alt="")
                            p.review-number 5.0
                        p.review-content Нещодавно я придбав пристрій нічного бачення, і мушу сказати, що він у всіх відношеннях перевершив мої очікування: забезпечив мені неперевершений рівень видимості в найтемніших умовах.
                        .person-place 
                            .avatar-place    
                                img(src="./img/icons/avatar.png", alt="")
                            .person-info 
                                p.person_name Микола Зорянов
                                p.person_data Покупець "Меркурі Технолоджі" 
                .slide
                    .inner-slide
                        .review-line 
                            .star-place 
                                img(src="./img/icons/stars.svg", alt="")
                            p.review-number 5.0
                        p.review-content Нещодавно я придбав пристрій нічного бачення, і мушу сказати, що він у всіх відношеннях перевершив мої очікування: забезпечив мені неперевершений рівень видимості в найтемніших умовах.
                        .person-place 
                            .avatar-place    
                                img(src="./img/icons/avatar.png", alt="")
                            .person-info 
                                p.person_name Микола Зорянов
                                p.person_data Покупець "Меркурі Технолоджі" 
                .slide
                    .inner-slide
                        .review-line 
                            .star-place 
                                img(src="./img/icons/stars.svg", alt="")
                            p.review-number 5.0
                        p.review-content Нещодавно я придбав пристрій нічного бачення, і мушу сказати, що він у всіх відношеннях перевершив мої очікування: забезпечив мені неперевершений рівень видимості в найтемніших умовах.
                        .person-place 
                            .avatar-place    
                                img(src="./img/icons/avatar.png", alt="")
                            .person-info 
                                p.person_name Микола Зорянов
                                p.person_data Покупець "Меркурі Технолоджі" 