.tiny-header(style="background-image: url('./img/illustration/illustration2.png')")
    .overlay
    .container
        ul.breadcrumb
            li
                a(href="https://zaslavskayasya.github.io/m-tech/dist/index.html") Головна
            li
                a(href="https://zaslavskayasya.github.io/m-tech/dist/news.html") Новини
            li
                span Pulsar приносить кардинальні новини на IWA OutdoorClassics
        h1.h1  
            | Pulsar приносить кардинальні новини на IWA OutdoorClassics
.container
  .article-content
    div 
      h2 Зображення високої чіткості
      p  Криптон другого покоління більш компактний, легкий і повністю адаптований під потреби мисливця. Він має покращену якість зображення в багатоколірному режимі Full HD і високоякісний тепловізійний датчик Lynred європейського виробництва, який забезпечує винятково чітке, чітке та контрастне теплові зображення за будь-яких погодних умов.
    div
      img(src="./img/illustration/il2.png", alt="")    
    div  
        p  Флагманська модель Krypton 2 FXG50 має високу роздільну здатність сенсора 640x480 пікселів при 12 мкм. У поєднанні з потужною теплолінзою зі світлосилою F50/1.0 він забезпечує неперевершені можливості виявлення. Стандартний об'єкт заввишки 1,8 м можна виявити на дуже великій відстані 2300 метрів навіть у повній темряві.
        p Більш компактний і легкий Krypton 2 FXQ35 пропонує високу чутливість датчика з кроком пікселя 17 мкм і NETD менше 25 мілікельвінів. Його роздільна здатність сенсора трохи нижча – 384x288 пікселів – порівняно з моделлю FXG.
    div 
          h2 Добре збалансований дизайн
          p  Нова передня насадка Krypton 2 компактніша, ніж попереднє покоління Krypton. Завдяки своїй короткій довжині, легкій і добре збалансованій конструкції та рівномірному розподілу ваги насадка мінімально впливає на баланс зброї та оптики. Його міцний корпус із магнієвого сплаву забезпечує високу міцність конструкції, захищаючи пристрій від ударів і вібраційних навантажень.
    .two-images 
      .image-part
        img(src="./img/illustration/il1.png", alt="") 
      .image-part
        img(src="./img/illustration/il3.png", alt="")
    div
        h2 Створено для вашого комфорту
        p  Новою функцією Krypton 2 є адаптація графічного інтерфейсу. Меню пристрою та положення рядка стану масштабуються користувачем для комфортного перегляду при зміні збільшення денного прицілу. Це забезпечує більший комфорт під час роботи зі значним діапазоном збільшення, від 2x до 6x з Krypton 2 FXG50 і від 1,5x до 4x з Krypton 2 FXQ35.
        iframe(src='https://www.youtube.com/embed/hgGWEG6NXhM?si=dCA7hkipq3XC03zR' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
    div
      p Щоб забезпечити повний комфорт використання, новий Krypton 2 поставляється з ергономічним бездротовим пультом дистанційного керування Bluetooth, який можна легко прикріпити до прицілу та імітувати панель керування. Дизайн, розмір і розташування кнопок і кодера налаштовані для використання як голими руками, так і в рукавичках.
      p Ми також представляємо нову лінійку аксесуарів Pulsar, яка включає в себе набір чотириточкових швидкознімних кільцевих адаптерів PSP-B. Вони дозволяють легко монтувати та знімати Krypton 2 з прицілу. У лінійці є чотири різні моделі адаптерів. Від найменшого, PSP-30B, який ідеально підходить для багатьох пересувань по полю, до PSP-42B, PSP-50B і кільцевих адаптерів PSP-56B.
      ul
        li  Від найменшого, PSP-30B, який ідеально підходить для багатьох пересувань по полю
        li  який ідеально підходить для багатьох пересувань по полю
        li  Від найменшого, PSP-30B, який ідеально підходить для багатьох пересувань по полю
      p Ще одним доповненням до лінійки аксесуарів є новий компактний монокуляр Pulsar 3x20B, який дає змогу перетворити Krypton 2 на тепловізор із 3-кратним збільшенням всього за кілька секунд. Байонетне з’єднання гарантує, що Krypton 2 швидко й легко трансформується з передньої насадки на тепловізійний монокуляр і назад у полі.
      .author-line 
        p.author 
          span #Lorem | 
          span 20/09/2020  
        p.author
          span Автор:
          span Иван Иванович 
          
.container 
    .last-new
        h2.h2  Пропонуємо прочитати
        .three-in-row-wrap
            .item 
                .wrap-item-image
                    img(src="./img/illustration/illustration.png", alt="")
                .item-subheader.small_text 
                    span.teg ##монокуляр
                    span.date 20/09/2020
                a(href="#").full-text Pulsar приносить кардинальні новини на IWA OutdoorClassics  
            .item 
                .wrap-item-image
                    img(src="./img/illustration/il1.png", alt="")
                .item-subheader.small_text  
                    span.teg ##монокуляр
                    span.date 20/09/2020
                a(href="#").full-text Pulsar приносить кардинальні новини на IWA OutdoorClassics  
            .item 
                .wrap-item-image
                    img(src="./img/illustration/il2.png", alt="")
                .item-subheader.small_text 
                    span.teg ##монокуляр
                    span.date 20/09/2020
                a(href="#").full-text Pulsar приносить кардинальні новини на IWA OutdoorClassics  
.grey-bg 
    .container
        .consulting
            .part-text 
                h2.h2 Заявка 
                    span на консультацію
                p.normal_text-gray Бажаєте дізнатися більше? Залишіть свій номер телефону і наш менеджер у найкоротші терміни із задоволенням зв'яжеться з вами
            .form-part
                form(id='contact-form' onsubmit='return validateForm(event)')
                    .form-group
                        label(for='phone') Номер телефону:
                        input(type='tel', id='phone', name='phone', placeholder='Введіть номер телефону', pattern='[0-9]{10}', required)
                        span.error-message(id='phone-error') Невірний номер
                    .form-group
                        label(for='message') Повідомлення:
                        textarea(id='message', name='message', placeholder='Введіть повідомлення', required)
                        span.error-message(id='message-error') Поле обовєязкове
                    button.button(type='submit') Надіслати

.popup(id='success-popup')
    .popup-content
        span.close-popup(id='close-popup') ×
        p Ваше повідомлення надіслано! 