.tiny-header.slim(style="background-image: url('./img/illustration/illustration2.png')")
    .overlay
    .container
        ul.breadcrumb
            li
                a(href="#") Головна
            li
                span Новини
        h1.h1  
            | Новини
.container 
    .all-news
        .one-new 
            .top-line 
                p.small_text.date 20/09/2020
                a(href="#").heading-thin Pulsar приносить кардинальні новини на IWA OutdoorClassics
            figure.news-illustration 
                img(src="./img/illustration/il1.png", alt="")
                figcaption.normal-text  Криптон другого покоління більш компактний, легкий і повністю адаптований під потреби мисливця.
        .one-new 
            .top-line 
                p.small_text.date 20/09/2020
                a(href="#").heading-thin Krypton 2 – більш компактна та універсальна передня приставка для тепловізора
            figure.news-illustration 
                img(src="./img/illustration/il2.png", alt="")
                figcaption.normal-text  Криптон другого покоління більш компактний, легкий і повністю адаптований під потреби мисливця.
        .one-new 
            .top-line 
                p.small_text.date 20/09/2020
                a(href="#").heading-thin TELOS: першокласна лінійка тепловізійних монокулярів із перспективою майбутнього
            figure.news-illustration 
                img(src="./img/illustration/il3.png", alt="")
                figcaption.normal-text  Криптон другого покоління більш компактний, легкий і повністю адаптований під потреби мисливця.
        .group-catalog-buttons
            button.button-empty.button-black Загрузити більше
            .group-pages 
                button.button-white.page-btn 1  
                button.button-white.page-btn.active 2 
                button.button-white.disable(disabled) ... 
                button.button-white >