.tiny-header(style="background-image: url('./img/illustration/illustration2.png')")
    .overlay
    .container
        ul.breadcrumb
            a(href="https://zaslavskayasya.github.io/m-tech/dist/index.html") Головна
            a(href="https://zaslavskayasya.github.io/m-tech/dist/category.html") Каталог
            a(href="#") Тепловізійне бачення
            span EVO-SHOTS-S thermal imaging monocular
        h1.h1  
            | EVO-SHOTS-S
            br 
            | thermal imaging monocular
.container 
    .goods-info
        .goods-left
            .wrapper
                .swiper.mySwiper2
                    .swiper-wrapper.zoom-images
                        .swiper-slide
                            img(src='./img/items/1.png', data-zoom-image="./img/items/1x2.png")
                        .swiper-slide
                            img(src='./img/items/1.png', data-zoom-image="./img/items/1x2.png")
                        .swiper-slide
                            img(src='./img/items/3.png', data-zoom-image="./img/items/3x2.png",)
                        .swiper-slide
                            img(src='./img/items/4.png', data-zoom-image="./img/items/4x2.png",)
                .swiper.mySwiper(thumbsslider='')
                    .swiper-wrapper
                        .swiper-slide
                            img(src='./img/items/1.png')
                        .swiper-slide
                            img(src='./img/items/3.png')
                        .swiper-slide
                            img(src='./img/items/4.png')
                        .swiper-slide
                            img(src='./img/items/1.png')
            //- .swiper.mySwiper2
            //-     .swiper-wrapper
            //-         .swiper-slide
            //-             img(src='./img/items/1.png')
            //-         .swiper-slide
            //-             img(src='./img/items/1.png')
            //-         .swiper-slide
            //-             img(src='./img/items/1.png')
            //- .swiper.mySwiper(thumbsslider='')
            //-     .swiper-wrapper
            //-         .swiper-slide
            //-             img(src='./img/items/1.png')
            //-         .swiper-slide
            //-             img(src='./img/items/1.png')
            //-         .swiper-slide
            //-             img(src='./img/items/1.png')

            //- .main-slider.zoom-images
            //-     .slide
            //-         .img-wrap 
            //-             img(src="./img/items/1.png",
            //-             data-zoom-image="./img/items/1x2.png", alt="")
            //-     .slide 
            //-         .img-wrap
            //-             img(src="./img/items/3.png", 
            //-             data-zoom-image="./img/items/3x2.png", ,alt="")
            //-     .slide
            //-         .img-wrap 
            //-             img(src="./img/items/4.png",
            //-             data-zoom-image="./img/items/4x2.png", alt="")

            //- .preview-slider 
            //-     .slide 
            //-         img(src="./img/items/1.png" alt="")
            //-     .slide 
            //-         img(src="./img/items/3.png" alt="")
            //-     .slide 
            //-         img(src="./img/items/4.png" alt="")
        .goods-right 
            p.heading 
                | EVO-SHOTS-S 
                br
                | thermal imaging monocular
            P.small_text.UPPER Оптична система (мм):
            .sizes_block 
                .size.active 25 
                .size 35 
                .size 50 
                .size 75
            .price 40 000₴    
            .small_text ІНФОРМАЦІЯ
            .inform-lines 
                .line 
                    p.name.normal_text Розширення
                    .description.normal_text 328х288
                .line 
                    p.name.normal_text Розмір пікселя
                    .description.normal_text 317мкм
                .line 
                    p.name.normal_text Чутливість
                    .description.normal_text 30мК
                .line 
                    p.name.normal_text Дистанція виявлення
                    .description.normal_text 2500м

.container 
    .tabs-part
        .tabs-wrap
            a(href="#description").tab-btn.active(data-tab="tab-1") Опис
            a(href="#sertificate").tab-btn(data-tab="tab-2") Специфікація
            a(href="#sccess").tab-btn(data-tab="tab-3") Аксесуари
            a(href="#gallery").tab-btn(data-tab="tab-4") Відеогалерея
            a(href="#same").tab-btn(data-tab="tab-5") Схожі товари
        .content-wrap.wrap-inform-texts#description
            .content-item#tab-1.active
                .big-text 
                    | ЩО 
                    span.accent ВАРТО ЗНАТИ, <br>
                    | ПРО EVO-SHOTS-S 
                .inform-part 
                    p.normal_text 
                        | Лінійка тепловізійних монокулярів EVO-SHOT-S представлена з обʼєктивами F25мм, F35мм, F50мм та F75мм, що дозволяють оператору використовувати пристрій як компактний кишеньковий монокуляр, так і як інструмент спо-стереження на великі відстані.
                    p.normal_text 
                        | Вбудований відеорекордер дозволить вам зафіксувати потрібні моменти, а за до-помогою модулю Wi-Fi ви можете підʼєднати до монокуляра ваш смартфон або планшет та вести спостереження з екрану гаджета.
            //- .content-item#tab-2 
            //-     p content 2
            //- .content-item#tab-3 
            //-     p content 3
            //- .content-item#tab-4 
            //-     p content 4
            //- .content-item#tab-5
            //-     p content 5
.mega-image(style="background-image: url('./img/illustration/illustration2.png')") 

.container 
    .additional-info.wrap-inform-texts 
        p.normal_text-gray Цей монокуляр розроблений на основі сучасного сенсора з робдільною здатністю 384х288 пікселів. Розмір пікселя - 12мкм.
        p.normal_text-gray Тепловізійний монокуляр «EVO-SHOT-S» виконаний в ергономічному, ударостійкому корпусі із авіаційного алю-мінію, який стабільний при роботі в тяжких умовах та має клас захисту IP67.
        p.normal_text-gray Використання стадіометрічного далекоміра дозволяє легко визначити дистанцію до обʼєкту. Програмне забезпечення монокуляра дозволяє вести спостереження у різноманітних умовах за допомогою восьми кольорових режимів. Режим «вогонь» зручний для пошуково-рятувальних робіт, при якому на монохромному фоні теплові обʼєкти виділені яскравим помаранчевим кольором.
        p.normal_text-gray Дисплей з технологією OLED HD 1024×768 забезпечує надійну роботу приладу при температурах від - 25 до +50 градусів. Такі характеристики дозволяють домогтися стабільної роботи приладу навіть в тяжких умовах роботи, отримувати хорошу деталізацію зображення та фіксувати теплові обʼєкти на фото та відео.

    .specification#sertificate 
        h2.h2 Специфікація
        p.normal_text-heading виБИРАючи EVO-SHOTS-S , Враховуй:
        .char-block 
            .char-row 
                .char-left 
                    p.normal_text Тип приладу
                .char-right 
                    p.normal_text.bold  Монокуляр нічний
            .char-row 
                .char-left 
                    p.normal_text ЕОП
                .char-right 
                    p.normal_text.bold  USA-GEN3
            .char-row 
                .char-left 
                    p.normal_text Колір зображення
                .char-right 
                    p.normal_text.bold  Чорно-білий
            .char-row 
                .char-left 
                    p.normal_text Роздільна здатність ЕОП, пар лін/мм (не менше)
                .char-right 
                    p.normal_text.bold  64-67
            .char-row 
                .char-left 
                    p.normal_text Збільшення
                .char-right 
                    p.normal_text.bold  1x
            .char-row 
                .char-left 
                    p.normal_text FOM
                .char-right 
                    p.normal_text.bold  1600
            .char-row 
                .char-left 
                    p.normal_text Оптична система (мм)
                .char-right 
                    p.normal_text.bold  F/1,2; 27
            .char-row 
                .char-left 
                    p.normal_text Кут огляду
                .char-right 
                    p.normal_text.bold  40°
            .char-row 
                .char-left 
                    p.normal_text Діапазон фокусування (м)
                .char-right 
                    p.normal_text.bold  0,25 до нескінченності
            .char-row 
                .char-left 
                    p.normal_text Діаметр вихідної зіниці (мм)
                .char-right 
                    p.normal_text.bold  14
            .char-row 
                .char-left 
                    p.normal_text Віддалення вихідної зіниці (мм)
                .char-right 
                    p.normal_text.bold  25
            .char-row 
                .char-left 
                    p.normal_text Діоптрійна корекція, дптр
                .char-right 
                    p.normal_text.bold  -6 до +2
            .char-row 
                .char-left 
                    p.normal_text Захист від яскравого світла
                .char-right 
                    p.normal_text.bold  Так
            .char-row 
                .char-left 
                    p.normal_text Автоматична система вимикання
                .char-right 
                    p.normal_text.bold  Так
            .char-row 
                .char-left 
                    p.normal_text ІЧ ліхтарик 
                .char-right 
                    p.normal_text.bold  Так
            .char-row 
                .char-left 
                    p.normal_text Індикатор ІЧ
                .char-right 
                    p.normal_text.bold  Так
            .char-row 
                .char-left 
                    p.normal_text Лазерний вказівник
                .char-right 
                    p.normal_text.bold  Так (1 клас)
            .char-row 
                .char-left 
                    p.normal_text Індикатор розряду батареї
                .char-right 
                    p.normal_text.bold  Так
            .char-row 
                .char-left 
                    p.normal_text Живлення
                .char-right 
                    p.normal_text.bold  
                        | Батарея тип: CR123 Літій-іонна 3В-1шт або
                        | AA Лужна 1,5 В -1 шт
            .char-row 
                .char-left 
                    p.normal_text Термін служби батареї
                .char-right 
                    p.normal_text.bold  Водонепроникний
            .char-row 
                .char-left 
                    p.normal_text Діапазон робочих температур
                .char-right 
                    p.normal_text.bold  -20° до +50°C
            .char-row 
                .char-left 
                    p.normal_text Розміри (мм)
                .char-right 
                    p.normal_text.bold  117 x 49 x 69
            .char-row 
                .char-left 
                    p.normal_text Вага (кг)   
                .char-right 
                    p.normal_text.bold  0,37
            .char-row 
                .char-left 
                    p.normal_text Комплект постачання
                .char-right 
                    ul.normal_text.bold 
                        li Монокуляр  нічний  MT-GEKKO-PRO-W5
                        li Кришка об’єктива -1шт.
                        li Наочник -1шт.
                        li Кріплення на шолом – 1 шт.
                        li Літієва батарея CR123A -1шт.
                        li Інструкція з експлуатації -1шт.
                        li М’який чохол -1шт.
.accesoires#sccess 
    .btn-wrap
        .prev-btn 
        .next-btn  
    .container
        h2.h2 Аксесуари
        .sccess-slider 
            a(href="#").slide 
                .img-wrap 
                    img(src="./img/items/1.png" alt="")
                h3.h3.UPPER  EVO-SHOTS-S
                h3.h3 thermal imaging monocular 
            a(href="#").slide 
                .img-wrap 
                    img(src="./img/items/1.png" alt="")
                h3.h3.UPPER  EVO-SHOTS-S
                h3.h3 thermal imaging monocular 
            a(href="#").slide 
                .img-wrap 
                    img(src="./img/items/1.png" alt="")
                h3.h3.UPPER  EVO-SHOTS-S
                h3.h3 thermal imaging monocular 
            a(href="#").slide 
                .img-wrap 
                    img(src="./img/items/1.png" alt="")
                h3.h3.UPPER  EVO-SHOTS-S
                h3.h3 thermal imaging monocular 
            a(href="#").slide 
                .img-wrap 
                    img(src="./img/items/1.png" alt="")
                h3.h3.UPPER  EVO-SHOTS-S
                h3.h3 thermal imaging monocular 
            a(href="#").slide 
                .img-wrap 
                    img(src="./img/items/1.png" alt="")
                h3.h3.UPPER  EVO-SHOTS-S
                h3.h3 thermal imaging monocular 

.container
    .gallery-wrap#gallery
        .header-line
            h2.h2 Відеогалерея
            a(href="https://zaslavskayasya.github.io/m-tech/dist/article.html").more-btn.only-desc 
                span Дивитись всі відео
                img(src="./img/icons/precision2.svg" alt="")
        .videogallery
            .video-left
                .left-wrap 
                    iframe( src='https://www.youtube.com/embed/CF5Skk1_3bk' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
                a(href="https://zaslavskayasya.github.io/m-tech/dist/article.html").video-description  Pulsar приносить кардинальні новини на IWA OutdoorClassics
            .video-right
                .video-gallery
                    .video 
                        .video-wrap
                            iframe( src='https://www.youtube.com/embed/CF5Skk1_3bk' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
                        a(href="https://zaslavskayasya.github.io/m-tech/dist/article.html").video-description  Pulsar приносить кардинальні новини на IWA OutdoorClassics
                    .video 
                        .video-wrap
                            iframe( src='https://www.youtube.com/embed/CF5Skk1_3bk' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
                        a(href="https://zaslavskayasya.github.io/m-tech/dist/article.html").video-description  Pulsar приносить кардинальні новини на IWA OutdoorClassics
        a(href="#").more-btn.only-mob 
            span Дивитись всі відео
            img(src="./img/icons/precision2.svg" alt="")
.container 
    .popular#same
        .h2 Ви переглядали
        .three-row 
            .item
                .card 
                    a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").card-img 
                        img(src="./img/items/1.png" alt="place for image")
                    .card-content
                        a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html")
                            p.h3 EVO-SHOTS-S 
                            p.h3.h3_subname thermal imaging monocular
                        p.small_text Оптична система (мм):
                        .sizes_block 
                            .size.active 25 
                            .size 35 
                            .size 50 
                            .size 75 
                        .characters-table 
                            .line 
                                span.small_text Разрешение 
                                span.small_text__bold  328х288
                            .line 
                                span.small_text Размер пикселя
                                span.small_text__bold  17мкм
                            .line 
                                span.small_text Чувствительность
                                span.small_text__bold  30мК
                            .line 
                                span.small_text Дистанция обнаружения
                                span.small_text__bold  2500м
            .item
                .card 
                    a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").card-img 
                        img(src="./img/items/1.png" alt="place for image")
                    .card-content
                        a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html")
                            p.h3 STRIGERS
                            p.h3.h3_subname thermal sight
                        p.small_text Оптична система (мм):
                        .sizes_block 
                            .size.active 25 
                            .size 35 
                            .size 50 
                            .size 75 
                        .characters-table 
                            .line 
                                span.small_text Разрешение 
                                span.small_text__bold  328х288
                            .line 
                                span.small_text Размер пикселя
                                span.small_text__bold  17мкм
                            .line 
                                span.small_text Чувствительность
                                span.small_text__bold  30мК
                            .line 
                                span.small_text Дистанция обнаружения
                                span.small_text__bold  2500м
            .item 
                .card
                    a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").card-img 
                        img(src="./img/items/2.png" alt="place for image")
                    .card-content
                        a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html")
                            p.h3 BNV - PRO 
                            p.h3.h3_subname night vision binocular
                        p.small_text Оптична система (мм):
                        .sizes_block 
                            .size.active 25 
                            .size 35 
                            .size 50 
                            .size 75 
                        .characters-table 
                            .line 
                                span.small_text Разрешение 
                                span.small_text__bold  328х288
                            .line 
                                span.small_text Размер пикселя
                                span.small_text__bold  17мкм
                            .line 
                                span.small_text Чувствительность
                                span.small_text__bold  30мК
                            .line 
                                span.small_text Дистанция обнаружения
                                span.small_text__bold  2500м



.grey-bg 
    .container
        .consulting
            .part-text 
                h2.h2 Заявка 
                    span на консультацію
                p.normal_text-gray Бажаєте дізнатися більше? Залишіть свій номер телефону і наш менеджер у найкоротші терміни із задоволенням зв'яжеться з вами
            .form-part
                form(id='contact-form' onsubmit='return validateForm(event)')
                    .form-group
                        label(for='phone') Номер телефону:
                        input(type='tel' id='phone' name='phone' placeholder='Введіть номер телефону' pattern='[0-9]{10}', required)
                        span.error-message(id='phone-error') Невірний номер
                    .form-group
                        label(for='message') Повідомлення:
                        textarea(id='message' name='message' placeholder='Введіть повідомлення', required)
                        span.error-message(id='message-error') Поле обовєязкове
                    button.button(type='submit') Надіслати

.popup(id='success-popup')
    .popup-content
        span.close-popup(id='close-popup') ×
        p Ваше повідомлення надіслано! 