.tiny-header.slim(style="background-image: url('./img/illustration/illustration2.png')")
    .overlay
    .container
        ul.breadcrumb
            li
                a(href="#") Головна
            li
                span Відеогалерея
        h1.h1  
            | Відеогалерея

.container 
    .video-gallery-block 
        p.heading Pulsar приносить кардинальні новини на IWA OutdoorClassics 2023
        .main-video 
            iframe( src='https://www.youtube.com/embed/hgGWEG6NXhM?si=dCA7hkipq3XC03zR' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
        .video-links.three-row
            .item 
                .wrap-img 
                    img(src="../img/illustration/helm1.png", alt="")
                a(href="#").h3 Pulsar приносить кардинальні новини на IWA OutdoorClassics 2023
            .item 
                .wrap-img 
                    img(src="../img/illustration/helm2.png", alt="")
                a(href="#").h3 Pulsar приносить кардинальні новини на IWA OutdoorClassics 2023
            .item 
                .wrap-img 
                    img(src="../img/illustration/helm3.png", alt="")
                a(href="#").h3 Pulsar приносить кардинальні новини на IWA OutdoorClassics 2023
            .item 
                .wrap-img 
                    img(src="../img/illustration/helm3.png", alt="")
                a(href="#").h3 Pulsar приносить кардинальні новини на IWA OutdoorClassics 2023
            .item 
                .wrap-img 
                    img(src="../img/illustration/helm2.png", alt="")
                a(href="#").h3 Pulsar приносить кардинальні новини на IWA OutdoorClassics 2023
            .item 
                .wrap-img 
                    img(src="../img/illustration/helm1.png", alt="")
                a(href="#").h3 Pulsar приносить кардинальні новини на IWA OutdoorClassics 2023
        .group-catalog-buttons
            button.button-empty.button-black Загрузити більше
            .group-pages 
                button.button-white.page-btn 1  
                button.button-white.page-btn.active 2 
                button.button-white.disable(disabled) ... 
                button.button-white >
