footer.l-footer
    .container 
        .wrap-footer-inner
            .logo 
                img(src="../img/logo-footer.svg", alt="")
            .to-be-bottom     
                .icon-social
                    a(href="#").icon-link
                        svg(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M10.9201 2.24H8.75008C8.47008 2.24 8.12008 2.31 8.12008 2.8V5.04H10.9201V7.28H8.12008V14H5.88008V7.28H3.08008V5.04H5.88008V3.08C5.88008 1.05 6.86008 0 8.75008 0H10.9201V2.24Z' fill='white')

                    a(href="#").icon-link
                        svg(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.707 3.60812C13.6279 3.31032 13.472 3.03851 13.255 2.81985C13.0379 2.60119 12.7672 2.44335 12.47 2.36212C11.379 2.06812 7 2.06812 7 2.06812C7 2.06812 2.622 2.06812 1.53 2.36212C1.23279 2.44357 0.962098 2.60146 0.74489 2.82007C0.527683 3.03868 0.371536 3.31038 0.292 3.60812C0 4.70712 0 7.00012 0 7.00012C0 7.00012 0 9.29312 0.292 10.3921C0.371321 10.6898 0.527412 10.9615 0.744666 11.18C0.96192 11.3985 1.23272 11.5561 1.53 11.6371C2.622 11.9321 7 11.9321 7 11.9321C7 11.9321 11.378 11.9321 12.469 11.6371C12.7663 11.5564 13.0372 11.3989 13.2543 11.1803C13.4714 10.9618 13.6272 10.69 13.706 10.3921C14 9.29312 14 7.00012 14 7.00012C14 7.00012 14 4.70712 13.707 3.60812ZM5.568 9.08212V4.91812L9.228 7.00012L5.568 9.08212Z' fill='white')

                    a(href="#").icon-link
                       svg(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M6.99995 1.26298C8.86795 1.26298 9.08995 1.26998 9.82795 1.30298C10.51 1.33498 10.881 1.44898 11.128 1.54498C11.454 1.67198 11.687 1.82298 11.932 2.06798C12.177 2.31298 12.328 2.54598 12.455 2.87298C12.551 3.11898 12.665 3.48998 12.696 4.17298C12.73 4.90998 12.736 5.13098 12.736 6.99998C12.736 8.86798 12.73 9.08998 12.696 9.82798C12.665 10.51 12.551 10.881 12.456 11.128C12.328 11.454 12.176 11.687 11.932 11.932C11.7061 12.1643 11.431 12.343 11.127 12.455C10.88 12.551 10.51 12.665 9.82695 12.696C9.08995 12.73 8.86895 12.736 6.99995 12.736C5.13095 12.736 4.90995 12.73 4.17195 12.696C3.48995 12.665 3.11995 12.551 2.87195 12.456C2.56817 12.3436 2.29344 12.1645 2.06795 11.932C1.83566 11.7061 1.65694 11.431 1.54495 11.127C1.44895 10.88 1.33495 10.51 1.30395 9.82698C1.26995 9.08998 1.26395 8.86798 1.26395 6.99998C1.26395 5.13098 1.26995 4.90998 1.30395 4.17198C1.33495 3.48998 1.44895 3.11998 1.54395 2.87198C1.67195 2.54598 1.82395 2.31298 2.06795 2.06798C2.31295 1.82298 2.54595 1.67198 2.87295 1.54498C3.11895 1.44898 3.48995 1.33498 4.17295 1.30398C4.90995 1.26998 5.13095 1.26398 6.99995 1.26398M6.99995 0.000976562C5.09995 0.000976562 4.86095 0.00897656 4.11495 0.0429766C3.36995 0.0779766 2.85995 0.196977 2.41595 0.369977C1.94884 0.54557 1.52566 0.820976 1.17595 1.17698C0.820313 1.52678 0.545254 1.94995 0.369953 2.41698C0.196953 2.85998 0.0779531 3.36998 0.0439531 4.11398C0.00995312 4.85998 0.00195312 5.09898 0.00195312 6.99998C0.00195312 8.89998 0.00995312 9.13898 0.0439531 9.88498C0.0779531 10.63 0.196953 11.139 0.369953 11.584C0.547953 12.044 0.787953 12.434 1.17695 12.824C1.56595 13.212 1.95595 13.452 2.41695 13.63C2.86095 13.803 3.36995 13.922 4.11495 13.956C4.86095 13.99 5.09895 13.998 6.99995 13.998C8.89995 13.998 9.13895 13.99 9.88495 13.956C10.63 13.922 11.139 13.803 11.584 13.63C12.0511 13.4544 12.4742 13.179 12.824 12.823C13.1796 12.4732 13.4547 12.05 13.63 11.583C13.803 11.139 13.922 10.63 13.956 9.88498C13.99 9.13898 13.998 8.89998 13.998 6.99998C13.998 5.09998 13.99 4.86098 13.956 4.11498C13.922 3.36998 13.803 2.86098 13.63 2.41598C13.4544 1.94886 13.179 1.52568 12.823 1.17598C12.4731 0.820337 12.05 0.545277 11.583 0.369977C11.14 0.196977 10.63 0.0779766 9.88595 0.0439766C9.13995 0.00997656 8.89995 0.00197656 6.99995 0.00197656' fill='white')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M7.00023 3.40705C6.0473 3.40705 5.13341 3.7856 4.45959 4.45941C3.78577 5.13323 3.40723 6.04713 3.40723 7.00005C3.40723 7.95297 3.78577 8.86687 4.45959 9.54068C5.13341 10.2145 6.0473 10.593 7.00023 10.593C7.95315 10.593 8.86704 10.2145 9.54086 9.54068C10.2147 8.86687 10.5932 7.95297 10.5932 7.00005C10.5932 6.04713 10.2147 5.13323 9.54086 4.45941C8.86704 3.7856 7.95315 3.40705 7.00023 3.40705ZM7.00023 9.33305C6.38148 9.33305 5.78807 9.08725 5.35055 8.64973C4.91302 8.21221 4.66723 7.6188 4.66723 7.00005C4.66723 6.3813 4.91302 5.78789 5.35055 5.35037C5.78807 4.91285 6.38148 4.66705 7.00023 4.66705C7.61898 4.66705 8.21238 4.91285 8.64991 5.35037C9.08743 5.78789 9.33323 6.3813 9.33323 7.00005C9.33323 7.6188 9.08743 8.21221 8.64991 8.64973C8.21238 9.08725 7.61898 9.33305 7.00023 9.33305ZM11.5752 3.26505C11.5752 3.48783 11.4867 3.70149 11.3292 3.85902C11.1717 4.01655 10.958 4.10505 10.7352 4.10505C10.5124 4.10505 10.2988 4.01655 10.1413 3.85902C9.98373 3.70149 9.89523 3.48783 9.89523 3.26505C9.89523 3.04227 9.98373 2.82861 10.1413 2.67108C10.2988 2.51355 10.5124 2.42505 10.7352 2.42505C10.958 2.42505 11.1717 2.51355 11.3292 2.67108C11.4867 2.82861 11.5752 3.04227 11.5752 3.26505Z' fill='white')
                .copy-block 
                    p.copy-text © 2023 Mercury technology. 
                    .mart 
                        a(href="#") Розробка сайту - 
                        span студія Март
            .links-part.products-links 
                p.footer-heading Продукти 
                ul.links-list 
                    li.links-li 
                        a(href="").links-link  Нічне бачення
                    li.links-li 
                        a(href="").links-link  Тепловізійне бачення
                    li.links-li 
                        a(href="").links-link  Fusion 
                    li.links-li 
                        a(href="").links-link  Аксесуари 
            .links-part.about-links 
                p.footer-heading Про нас
                ul.links-list 
                    li.links-li 
                        a(href="").links-link  Про нас
                    li.links-li 
                        a(href="").links-link  Новини 
                    li.links-li 
                        a(href="").links-link  Фотогалерея
            .links-part.contacts-links 
                p.footer-heading Контакти
                ul.links-list 
                    li.links-li 
                        p.links-sub Наша адреса
                        a(href="#").links-link м. Одеса 
                        a(href="#").links-link вул. Космонавта Комарова 14
                    li.links-li 
                        p.links-sub Email
                        a(href="#").links-link  mercurytechnology@gmail.com 
                    li.links-li 
                        p.links-sub Номер телефону
                        a(href="#").links-link  +380 (99) 999-99-99


