if videogallery
  link(href= "./js/plugins/magnific-popup.css" defer)

if one
  //- link(href= "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" defer)
  link(rel="stylesheet", href="./js/plugins/swiper/swiper.min.css")

//- if two
//-   link(href= "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" defer)

link(rel="preconnect" href="https://fonts.googleapis.com")
link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet")
link(rel="stylesheet"   href="./js/plugins/slick.css")
link(rel="stylesheet"   href= "./js/plugins/slick-theme.css")
link(rel="stylesheet", href=cssPath + "style.min.css")