link(rel="preconnect" href="https://fonts.googleapis.com")
link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet")
link(rel="stylesheet"   href="./js/plugins/slick.css")
link(rel="stylesheet"   href= "./js/plugins/slick-theme.css")
link(rel="stylesheet", href=cssPath + "style.min.css")