#scene 
    #cross
    img(src="./img/illustration/base1.png", alt="", id="circle")
    .choose-buttons 
        .wrap-choose#night(data-bg="./img/illustration/base1.png")  
            .img 
                img(src="./img/illustration/choose1.png", alt="")
            p.choose Нічне бачення
        .wrap-choose#teplo(data-bg="./img/illustration/base2.png")  
            .img 
                img(src="./img/illustration/choose2.png", alt="")
            p.choose Тепловізійне бачення
        .wrap-choose(data-bg="./img/illustration/base1.png")  
            .img 
                img(src="./img/illustration/choose3.png", alt="")
            p.choose Режим fusion
main.l-main
    .container 
        p.big-text 
            span.accent "Меркурі Технолоджі" 
            | - провідна компанія в галузі виробництва та продажу приладів нічного та тепловізійного бачення
        .main-page-block 
            .image-part 
                img(src="./img/illustration/first.png", alt="")
            .text-part 
                p.normal_text-gray.rotate Наша компанія
                p.normal_text-gray Наша команда складається з першокласних фахівців та професіоналів своєї справи, які приділяють велику увагу якості та продуктивності кожного з наших приладів
            .down-block 
                p.down-block__text Ми використовуємо найсучасніші технології та матеріали, щоб створювати прилади, які поєднують у собі високу продуктивність, надійність та ефективність
        .popular
            h2.h2 Популярні товари
            .three-row 
                .item
                    .card 
                        a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").card-img 
                            img(src="./img/items/1.png", alt="place for image")
                        .card-content
                            a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").header-card
                                p.h3 EVO-SHOTS-S 
                                p.h3.h3_subname thermal imaging monocular
                            p.small_text Оптична система (мм):
                            .sizes_block 
                                a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").size 25 
                                a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").size 35 
                                a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").size 50 
                                a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").size 75 
                            .characters-table 
                                .line 
                                    span.small_text Разрешение 
                                    span.small_text__bold  328х288
                                .line 
                                    span.small_text Размер пикселя
                                    span.small_text__bold  17мкм
                                .line 
                                    span.small_text Чувствительность
                                    span.small_text__bold  30мК
                                .line 
                                    span.small_text Дистанция обнаружения
                                    span.small_text__bold  2500м
                .item
                    .card 
                        a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").card-img 
                            img(src="./img/items/1.png", alt="place for image")
                        .card-content
                            a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").header-card
                                p.h3 STRIGERS
                                p.h3.h3_subname thermal sight
                            p.small_text Оптична система (мм):
                            .sizes_block 
                                a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").size 25 
                                a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").size 35 
                                a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").size 50 
                                a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").size 75 
                            .characters-table 
                                .line 
                                    span.small_text Разрешение 
                                    span.small_text__bold  328х288
                                .line 
                                    span.small_text Размер пикселя
                                    span.small_text__bold  17мкм
                                .line 
                                    span.small_text Чувствительность
                                    span.small_text__bold  30мК
                                .line 
                                    span.small_text Дистанция обнаружения
                                    span.small_text__bold  2500м
                .item
                    .card 
                        a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").card-img 
                            img(src="./img/items/2.png", alt="place for image")
                        .card-content
                            a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").header-card
                                p.h3 BNV - PRO 
                                p.h3.h3_subname night vision binocular
                            p.small_text Оптична система (мм):
                            .sizes_block 
                                a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").size 25 
                                a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").size 35 
                                a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").size 50 
                                a(href="https://zaslavskayasya.github.io/m-tech/dist/one.html").size 75 
                            .characters-table 
                                .line 
                                    span.small_text Разрешение 
                                    span.small_text__bold  328х288
                                .line 
                                    span.small_text Размер пикселя
                                    span.small_text__bold  17мкм
                                .line 
                                    span.small_text Чувствительность
                                    span.small_text__bold  30мК
                                .line 
                                    span.small_text Дистанция обнаружения
                                    span.small_text__bold  2500м
.full-screen-block 
    .container
        h2.h2 Новинки
        .nav-block
            .custom-prev-button.custom-nav
                img(src="./img/icons/arr-left.svg", alt="")
            .custom-next-button.custom-nav 
                img(src="./img/icons/arr-righ.svg", alt="")
    .new-slider 
        .slide
            .news-block
                .part-left
                    p.new-name Новинка 
                    a(href="#").new-header Монокуляр МТ-EVO-SHOT
                    p.new-subscribtion  Використання стадіометрічного далекоміра дозволяє легко визначити дистанцію до обʼєкту.
                .part-right 
                    a(href="#").news-link
                        span Переглянути
                        img(src="./img/icons/precision.svg", alt="") 
            .wrap-main-img 
                img(src="./img/illustration/illustration.png", alt="")                
        .slide 
            .news-block
                .part-left
                    p.new-name Новинка 
                    a(href="https://zaslavskayasya.github.io/m-tech/dist/article.html").new-header Монокуляр МТ-EVO-SHOT
                    p.new-subscribtion  Використання стадіометрічного далекоміра дозволяє легко визначити дистанцію до обʼєкту.
                .part-right 
                    a(href="https://zaslavskayasya.github.io/m-tech/dist/article.html").news-link
                        span Переглянути
                        img(src="./img/icons/precision.svg", alt="") 
            .wrap-main-img 
                img(src="./img/illustration/illustration.png", alt="")
        .slide 
            .news-block
                .part-left
                    p.new-name Новинка 
                    a(href="https://zaslavskayasya.github.io/m-tech/dist/article.html").new-header Монокуляр МТ-EVO-SHOT
                    p.new-subscribtion  Використання стадіометрічного далекоміра дозволяє легко визначити дистанцію до обʼєкту.
                .part-right 
                    a(href="https://zaslavskayasya.github.io/m-tech/dist/article.html").news-link
                        span Переглянути
                        img(src="./img/icons/precision.svg", alt="") 
            .wrap-main-img 
                img(src="./img/illustration/illustration.png", alt="")
        .slide
            .news-block
                .part-left
                    p.new-name Новинка 
                    a(href="https://zaslavskayasya.github.io/m-tech/dist/article.html").new-header Монокуляр МТ-EVO-SHOT
                    p.new-subscribtion  Використання стадіометрічного далекоміра дозволяє легко визначити дистанцію до обʼєкту.
                .part-right 
                    a(href="https://zaslavskayasya.github.io/m-tech/dist/article.html").news-link
                        span Переглянути
                        img(src="./img/icons/precision.svg", alt="") 
            .wrap-main-img 
                img(src="./img/illustration/illustration.png", alt="")

.container 
    .partners 
        h2.h2 Партнери
        .partners-block
            a(href="#").partner-item
                img(src="./img/partners/1.svg", alt="partner.name")
            a(href="#").partner-item
                img(src="./img/partners/2.svg", alt="partner.name")
            a(href="#").partner-item
                img(src="./img/partners/3.svg", alt="partner.name")
            a(href="#").partner-item
                img(src="./img/partners/4.svg", alt="partner.name")
            a(href="#").partner-item
                img(src="./img/partners/5.svg", alt="partner.name")
.grey-bg 
    .container
        .consulting
            .part-text 
                h2.h2 Заявка 
                    span на консультацію
                p.normal_text-gray Бажаєте дізнатися більше? Залишіть свій номер телефону і наш менеджер у найкоротші терміни із задоволенням зв'яжеться з вами
            .form-part
                form(id='contact-form' onsubmit='return validateForm(event)')
                    .form-group
                        label(for='phone') Номер телефону:
                        input(type='tel', id='phone', name='phone', placeholder='Введіть номер телефону', pattern='[0-9]{10}', required)
                        span.error-message(id='phone-error') Невірний номер
                    .form-group
                        label(for='message') Повідомлення:
                        textarea(id='message', name='message', placeholder='Введіть повідомлення', required)
                        span.error-message(id='message-error') Поле обовєязкове
                    button.button(type='submit') Надіслати
.container
    .gallery-wrap
        h2.h2 Наша галерея
        .gallery-block
            .left-gallery
                .nav-block
                    .custom-prev-button.custom-nav
                        img(src="./img/icons/arr-left.svg", alt="")
                    .custom-next-button.custom-nav 
                        img(src="./img/icons/arr-righ.svg", alt="") 
                .slider-left
                    .slider 
                        .wrap-main-img 
                            img(src="./img/illustration/illustration.png", alt="") 
                    .slider 
                        .wrap-main-img 
                            img(src="./img/illustration/illustration.png", alt="") 
            .right-gallery 
                .video-gallery
                    .video 
                        .video-wrap
                            iframe( src='https://www.youtube.com/embed/CF5Skk1_3bk' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
                        a(href="#").video-description  Pulsar приносить кардинальні новини на IWA OutdoorClassics
                    .video 
                        .video-wrap
                            iframe( src='https://www.youtube.com/embed/CF5Skk1_3bk' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
                        a(href="#").video-description  Pulsar приносить кардинальні новини на IWA OutdoorClassics

.container 
    .last-news 
        h2.h2  Останні новини  
        .three-in-row-wrap
            .item
                a(href="https://zaslavskayasya.github.io/m-tech/dist/article.html").wrap-item-image
                    img(src="./img/illustration/illustration.png", alt="")
                .item-subheader.small_text
                    span.teg  
                        a(href="#")  #монокуляр
                    span.date 20/09/2020
                a(href="https://zaslavskayasya.github.io/m-tech/dist/article.html").full-text Pulsar приносить кардинальні новини на IWA OutdoorClassics
            .item
                a(href="https://zaslavskayasya.github.io/m-tech/dist/article.html").wrap-item-image
                    img(src="./img/illustration/illustration.png", alt="")
                .item-subheader.small_text  
                    .teg 
                        a(href="#") #монокуляр
                    span.date 20/09/2020
                a(href="https://zaslavskayasya.github.io/m-tech/dist/article.html").full-text Pulsar приносить кардинальні новини на IWA OutdoorClassics
            .item
                a(href="https://zaslavskayasya.github.io/m-tech/dist/article.html").wrap-item-image
                    img(src="./img/illustration/illustration.png", alt="")
                .item-subheader.small_text
                    .teg
                        a(href="#") #монокуляр
                    span.date 20/09/2020
                a(href="https://zaslavskayasya.github.io/m-tech/dist/article.html").full-text Pulsar приносить кардинальні новини на IWA OutdoorClassics  


.popup(id='success-popup')
    .popup-content
        span.close-popup(id='close-popup') ×
        p Ваше повідомлення надіслано! 

